# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Arq\UCBGESTIONCALIDAD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
